<article>
  <header>
    <p><b>Welcome { {{user.role}} } to the Online Store App</b></p>
  </header>
  <p><b>User name: </b> <i>{{user.first_name}}</i></p>
  <p><b>Last name: </b> <i>{{user.last_name}}</i></p>
  <p><b>Mail : </b><i>{{user.email}}</i></p>
  <p><b>Cart : </b><i>{{cartId}}</i></p>
  <footer>
    <a href="/api/products" role="button">Store</a>
    <a href="/api/logout" role="button">Logout</a> 
  </footer>
</article>
  <div class="container">
    <h1 class="text-center my-4">Cart id {{this.cid}}</h1>
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="main" class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
                {{#each payload}}
                <tr>
                    <td>{{this.productId._id}}</td>
                    <td>{{this.productId.title}}</td>
                    <td id="price">{{this.productId.price}}</td>
                    <td id="stock">{{this.productId.stock}}</td>
                    <td id="quantity">{{this.quantity}}</td>
                    <td><button type="submit" id={{this.productId._id}} class="btnDelete">Eliminar</button></td>
                </tr>
                <tr id="cartSocket">
                </tr>
                {{/each}}
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <div style="flex: 1;">
        <button type="button" data-cartId="{{this.cid}}" >Comprar</button>
    </div>
       <div style="flex: 1;">
        <button type="submit" id="vaciarBtn" data-cartId="{{this.cid}}">Vaciar Carrito</button>
    </div>
    <div style="flex: 1;">
        <button type="button" id="volverBtn">Volver</button>
    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>
  <script>
    document.getElementById('volverBtn').addEventListener('click', function() {
        window.history.back();
    });
</script>