<div id="productsSocket">
</div>
  {{#each payload}}
  <div class="card">
    <article>
    <img src={{this.thumbnails}} class="card-img-top img-fluid img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title">Product Title: {{this.title}}</h5>
        <p class="card-text">ID: {{this._id}}</p>
        <p class="card-text">CODE: {{this.code}}</p>
        <p class="card-text">Description: {{this.description}}</p>
        <p class="card-text">Price: ${{this.price}}</p>
        <p class="card-text">Category: {{this.category}}</p>
        <p class="card-text">Stock: {{this.stock}}</small></p>
      </div>
    </article>
  </div>
  {{/each }}
</div>
<div>
  
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products/index.js"></script>