{{! products JSON }}
<div class="card-group">
  <h1>Products JSON</h1>
  {{#each productsJSON}}
  <div class="card">
    <img src={{this.thumbnails}} class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">Product Title: {{this.title}}</h5>
        <p class="card-text">ID: {{this.id}}</p>
        <p class="card-text">CODE: {{this.code}}</p>
        <p class="card-text">Description: {{this.description}}</p>
        <p class="card-text">Price: ${{this.price}}</p>
        <p class="card-text">Category: {{this.category}}</p>
        <p class="card-text"><small class="text-muted">Stock: {{this.stock}}</small></p>
      </div>
  </div>
</div>
<div>
  {{/each }}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>